/* This is Common Styles Section  */



/* This is Header Section  */

.header {
    padding: 37px 150px;
}

.nav-container {
    gap: 22px;
}

/* This is Banner Section  */

.banner-container {
    padding: 0 150px;
}

.banner-content p {
    font-size: 2.75rem;
}

.banner-content h3 {
    font-size: 5.5rem;
}

.banner-content ul {
    font-size: 1.2rem;
}

/* This is We R Gamer Section  */

.we-r-gamer {
    padding: 55px 150px 0 150px;
}

.we-r-gamer-img {
    width: 50%;
}

.we-r-gamer-content {
    width: 50%;
}

.we-r-gamer-content h3 {
    font-size: 2.75rem;
}

.we-r-gamer-content p {
    margin: 16px 0;
    font-size: 1rem;
}

.we-r-gamer-content .description {
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 30px;
}

.description span {
    font-size: 1.5rem;
    line-height: 30px;
}

/* This is Funny Videos Section  */

.funny-video-container {
    padding: 120px 150px 0 150px;
}

.funny-video-container>p {
    margin: 5px 0 45px 0;
}

.card-description {
    font-size: 1rem;
    line-height: 20px;
}

/* This is Play Now section  */

.play-container {
    padding: 0 150px;
    gap: 100px;
}

.play-content h3 {
    font-size: 2.5rem;
    line-height: 50px;
}

.play-img .img-1 {
    width: 80%;
    top: 60px;
    right: -20%;
}

.play-img .img-2 {
    width: 40%;
    top: -60px;
    left: 10px;
}

/* This is Career Section  */

.career-container {
    padding: 0 0 0 150px;
}

.career-content h4 {
    margin-bottom: 20px;
    font-size: 3rem;
    line-height: 40px;
}

.career-content p {
    font-size: 1.125rem;
    line-height: 25px;
}

.career-content div {
    margin: 20px 0;
}

.career-content ul {
    font-size: 1.25rem;
    line-height: 25px;
}

/* This is Category Section  */

.category-container {
    padding: 80px 150px;
    gap: 20px;
}

.btn-category {
    padding: 5px;
    gap: 10px;
}

/* This is Footer Section  */

.footer-container {
    padding: 120px 150px;
}

.social-links {
    margin: 50px 0;
    gap: 40px;
    font-size: 1.125rem;
}

.important-links {
    margin: 55px 0 15px 0;
    gap: 40px;
    font-size: 1rem;
}

.copyright {
    font-size: 1rem;
}