/* This is Header Section  */

.header {
    display: block;
    padding: 37px 0;
}

.nav-container {
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
}

.banner-container {
    padding: 0;
    flex-direction: column-reverse;
}

.banner-content {
    width: 100%;
    text-align: center;
}

.banner-content ul {
    padding: 25px 10px 40px 10px;
}

.banner-img {
    width: 100%;
}

.banner-btn {
    justify-content: center;
}
