/* This is Common Styles Section  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.name {
    text-align: center;
    font-size: 2.8125rem;
    font-weight: 700;
}

.name span {
    color: #ff42a5;
}

.icon {
    height: 1.5rem;
    cursor: pointer;
}

.btn {
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    color: #0B0223;
}

.linear-gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* This is Header Section  */

.header {
    padding: 37px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.nav-container li {
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}

.nav-item-3 {
    padding: 17px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}


/* This is Banner Section  */

.banner-container {
    padding: 0 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    width: 50%;
    text-align: left;
}

.banner-content p {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h3 {
    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-content ul {
    padding: 25px 0 40px 0;
    list-style: none;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 17px;
    text-align: left;
}

.banner-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.btn-2 {
    background: #4EC5F7;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

/* This is We R Gamer Section  */

.we-r-gamer {
    padding: 55px 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.we-r-gamer-img {
    width: 60%;
}

.we-r-gamer-img img {
    width: 100%;
}

.we-r-gamer-content {
    width: 40%;
    text-align: right;
}

.we-r-gamer-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

.we-r-gamer-content p {
    margin: 32px 0;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.we-r-gamer-content .description {
    margin-top: 24px;
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
}

.description span {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}

/* This is Funny Videos Section  */

.funny-video-container {
    padding: 120px 240px 0 240px;
    text-align: center;
}

.funny-video-container h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.funny-video-container>p {
    margin: 5px 0 48px 0;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card-img {
    width: 100%;
    position: relative;
    display: inline-block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .play-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent white;
  }

  .card-img:hover .play-button {
    opacity: 1;
  }

.card-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
}

/* This is Play Now section  */

.play-container {
    padding: 120px 240px 0 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.play-content {
    width: 50%;
    text-align: right;
}

.play-content h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.play-content p {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.play-img {
    width: 50%;
}

.play-img .img-1 {
    width: 100%;
}

.play-img .img-2 {
    width: 50%;
    position: relative;
    top: -150px;
    left: -100px;
}


/* This is Career Section  */

.career-container {
    padding: 0 0 0 240px;
    background-color: #FF42A5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.career-content {
    width: 40%;
    text-align: left;
}

.career-content h4 {
    margin-bottom: 24px;
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.career-content p {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.career-content div {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.career-content ul {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 40px;
}

.ul-1 {
    width: 50%;
    text-align: left;
}

.ul-2 {
    width: 50%;
    text-align: right;
}

.btn-4 {
    color: #FF42A5;
    background: #FFF;
}

.career-img {
    width: 60%;
}

.career-img img {
    width: 100%;
}

/* This is Category Section  */

.category-container {
    padding: 120px 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 27px;
}

.btn-category {
    padding: 10px;
    color: #0B0223;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn-category:hover {
    border: 2px solid #FF42A5;
    color: #FF42A5;
}

/* This is Footer Section  */

.footer-container {
    padding: 120px 240px;
    background: #0B0223;
    text-align: center;
    color: #FFF;
}

.social-links {
    margin: 55px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    font-size: 1.125rem;
    font-weight: 600;
}

.link-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.important-links {
    margin: 65px 0 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

.footer-container ul {
    list-style: none;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

.footer-container li:hover {
    cursor: pointer;
}