/* This is Common Styles Section  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.name {
    text-align: center;
    font-size: 2.8125rem;
    font-weight: 700;
}

.name span {
    color: #ff42a5;
}

.icon {
    height: 1.5rem;
}

.btn {
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* This is Header Section  */

.header {
    padding: 37px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.nav-container li {
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-item-3 {
    padding: 17px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* This is Banner Section  */

.banner-container {
    padding: 0 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    width: 50%;
    text-align: left;
}

.banner-content p {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h3 {
    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content ul {
    padding: 25px 0 40px 0;
    list-style: none;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 17px;
    text-align: left;
}

.banner-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.btn-2 {
    background: #4EC5F7;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}