/* This is Common Styles Section  */

.logo-container {
    gap: 15px;
}

.name {
    font-size: 2.5125rem;
}

.btn {
    padding: 13px 24.75px;
    font-size: 1rem;
}


/* This is Header Section  */

.header {
    padding: 37px 75px;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}


/* This is Banner Section  */

.banner-container {
    padding: 0 75px;
}

.banner-content p {
    font-size: 2.25rem;
}

.banner-content h3 {
    font-size: 4.5rem;
}

.banner-content ul {
    padding: 15px 0 25px 0;
    font-size: 1rem;
}

.banner-btn {
    gap: 15px;
}

/* This is We R Gamer Section  */

.we-r-gamer {
    padding: 55px 75px 0 75px;
    flex-direction: column-reverse;
}

.we-r-gamer-img {
    width: 100%;
}

.we-r-gamer-content {
    width: 100%;
    text-align: center;
}

.we-r-gamer-content h3 {
    font-size: 2.5rem;
}

.we-r-gamer-content p {
    margin: 16px 0;
    font-size: 1rem;
}

.we-r-gamer-content .description {
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 30px;
}

.description span {
    font-size: 1.5rem;
    line-height: 30px;
}

/* This is Funny Videos Section  */

.funny-video-container {
    padding: 50px 75px 0 75px;
}

.funny-video-container>p {
    margin: 5px 0 40px 0;
}

.card-description {
    font-size: 0.75rem;
    line-height: 20px;
}

/* This is Play Now section  */

.play-container {
    padding: 0 75px;
    gap: 50px;
}

.play-content h3 {
    font-size: 2.5rem;
    line-height: 50px;
}

.play-img .img-1 {
    width: 80%;
    top: 40px;
    right: -20%;
}

.play-img .img-2 {
    width: 40%;
    top: -40px;
    left: 0;
}

/* This is Career Section  */

.career-container {
    padding:20px 75px;
    flex-direction: column;
    gap: 20px;
}

.career-content {
    width: 100%;
    text-align: left;
}

/* This is Category Section  */

.category-container {
    padding: 60px 75px;
    gap: 20px;
}

.btn-category {
    padding: 5px;
    gap: 10px;
}

/* This is Footer Section  */

.footer-container {
    padding: 80px 75px;
}

.social-links {
    margin: 45px 0;
    gap: 30px;
    font-size: 1rem;
}

.link-icons {
    gap: 35px;
    flex-wrap: wrap;
}

.important-links {
    margin: 45px 0 10px 0;
    gap: 35px;
    font-size: 0.75rem;
}

.copyright {
    font-size: 0.75rem;
}